<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qtype %><br>
    <%= f.text_field :qtype %>
  </div>
  <div class="field">
    <%= f.label :mother %><br>
    <%= f.number_field :mother %>
  </div>
  <div class="field">
    <%= f.label :next_quest %><br>
    <%= f.number_field :next_quest %>
  </div>
  <div class="field">
    <%= f.label :prev_quest %><br>
    <%= f.number_field :prev_quest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
