<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :mother %><br>
    <%= f.number_field :mother %>
  </div>
  <div class="field">
    <%= f.label :next %><br>
    <%= f.number_field :next %>
  </div>
  <div class="field">
    <%= f.label :prev %><br>
    <%= f.number_field :prev %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
