<% provide(:title, @quest.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Quest Type:</strong>
  <%= @quest.qtype %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @quest.mother %>
</p>

<p>
  <strong>Next Quest:</strong>
  <%= link_to @quest.next_quest, quest_path(@quest.next_quest) %>
</p>

<p>
  <strong>Prev Quest:</strong>
  <%= link_to @quest.prev_quest, quest_path(@quest.prev_quest) %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
