<%= form_for(@license) do |f| %>
  <% if @license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@license.errors.count, "error") %> prohibited this license from being saved:</h2>

      <ul>
      <% @license.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row collapse">
  <div class="small-3 columns">
    <%= f.label :name, class: "right inline" %>
  </div>
  <div class="small-9 columns"><%= f.text_field :name %></div>
</div>
<div class="row collapse">
  <div class="small-3 columns">
    <%= f.label :price, class: "right inline", title: "Price in USD", data: {tooltip: true} %>
  </div>
  <div class="small-9 columns"><%= f.text_field :price %></div>
</div>
<div class="row collapse">
  <div class="small-9 small-offset-3 columns"><%= f.submit %></div>
</div>

<% end %>
