<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @license.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @license.price %>
</p>

<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
