<% if signed_in? %>
<div class="row">
   <div class="small-12 large-4 columns">
<%= render 'shared/user_info' %>
    <hr/>
<%= render 'shared/stats' %>

<% if current_user.tester? %>
    <hr/>
 <%= render 'shared/micropost_form' %>
<% end %>
   </div>
   <div class="small-12 large-8 columns">
    <h3>Item Collections</h3>
    <ul class="button-group">
    <% @items.each do |r| %>
     <% if r.root? %>
      <li><%= link_to r.name, r, class: "tiny button" %></li>
     <% end %>
    <% end %>
    </ul>
    <% if current_user.tester? %>
     <h3>Activity</h3>
     <%= render 'shared/feed' %>
    <% end %>
   </div>
  </div>
<% else %>
   <%= render 'static_pages/welcome' %>
<% end %>