<% provide(:title, "Admin View") %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="button-group radius">
      <li><%= link_to 'List', admins_path, class: "tiny button" %></li>
      <li><%= link_to 'User View', user_path(@admin), class: "tiny button" %></li>
      <li><%= link_to 'Edit', edit_admin_path(@admin), class: "tiny button" %></li>
     </ul>
    </div>
   </div>

   <div class="row"><div class="small-12 small-centered columns">Name: <%= @admin.name %></div></div>
   <div class="row"><div class="small-12 small-centered columns">Email: <%= @admin.email %></div></div>
   <div class="row"><div class="small-12 small-centered columns">Class: <%= @admin.player_type %> (<%= link_to "Change", users_path %>)</div></div>
   <div class="row"><div class="small-12 small-centered columns">Level: <%= @admin.player_level %> (<%= link_to "Change", users_path %>)</div></div>
   <div class="row"><div class="small-12 small-centered columns">Items: <%= @admin.max_items %> (<%= link_to "Change", users_path %>)</div></div>
   <div class="row"><div class="small-12 small-centered columns">Privacy: <%= @admin.privacy %></div></div>
   <div class="row"><div class="small-12 small-centered columns">Digicoll: <%= @admin.digicoll %></div></div>
   <div class="row"><div class="small-12 small-centered columns">Created: <%= @admin.created_at %></div></div>
   <div class="row"><div class="small-12 small-centered columns">Updated: <%= @admin.updated_at %></div></div>
   <div class="row"><div class="small-12 small-centered columns"><h3>FLAGS:</h3></div></div>
   <div class="row"><div class="small-12 small-centered columns">Admin: <%= @admin.admin %> (<%= link_to "Change", users_path %>)</div></div>
   <div class="row"><div class="small-12 small-centered columns">Tester: <%= @admin.tester %> (<%= link_to "Change", users_path %>)</div></div>
   <div class="row"><div class="small-12 small-centered columns">Components: <%= @admin.components_allowed %> (<%= link_to "Change", users_path %>)</div></div>