<% provide(:title, "User Admin View") %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="button-group radius">
      <li><%= link_to "Make into Admin", users_path, class: "tiny button" %></li>
      <li><%= link_to "Set level", users_path, class: "tiny button" %></li>
      <li><%= link_to "Set player class", users_path, class: "tiny button" %></li>
     </ul>
    </div>
   </div>

   <div class="row">
    <div class="large-6 columns">
     <%= render 'shared/user_info' %>
     <hr/>
     <%= render 'shared/stats' %>
     <hr/>
    </div>
    <div class="large-6 columns">
     <%= render 'follow_form' if signed_in? %>
     <% if @user.microposts.any? %>
      <h3>Activity (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
       <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>    
     <% end %>
    </div>
   </div>
