<% @user ||= current_user %>
    <div class="row">
     <div class="small-3 columns">
      <%= link_to gravatar_for(@user, size: 50), @user %>
     </div>
     <div class="small-9 columns">
      <h5><%= @user.name %></h5>
      <% if current_user.tester? %>
       <p><%= @user.player_type %>, level <%= link_to @user.player_level, quest_path(@user.player_level) %></p>
      <% end %>
      <p><%= link_to "view profile", @user %>
       <% if current_user?(@user) %>
        | <%= link_to "edit profile", edit_user_path(@user) %>
       <% end %>
      </p>
     </div>
    </div>