
<table>
 <% if @item.is_a_box %>
 <tr><td>TYPE:</td><td>BOX</td></tr>
 <% else %>
 <tr><td>TYPE:</td><td>ITEM</td></tr>
 <% end %>
 <tr><td>NAME:</td><td><%= @item.name %></td></tr>
 <tr><td>USER:</td><td><%= @item.user.name %></td></tr>
 <tr><td>PARENT:</td><td><%= @item.parent.name %></td></tr>
 <% if signed_in? %>
 <tr><td>ROOT?</td><td><%= @item.root? %></td></tr>
 <tr><td>CHILDREN:</td><td><%= @item.children %></td></tr>
 <tr><td>CREATED:</td><td><%= @item.created_at %></td></tr>
 <tr><td>UPDATE:</td><td><%= @item.updated_at %></td></tr>
 <% end %>
</table>

<%= qrcode_for @item %>