   <% if signed_in? %>
   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="button-group radius">
      <li><%= link_to 'Edit', edit_item_path(@item), class: "tiny button" %></li>
      <li><%= link_to 'Move', item_move_path(@item), class: "tiny button" %></li>
      <li><%= link_to 'Throw Away', item_throwaway_path(@item), class: "tiny button" %></li>
     </ul>
    </div>
   </div>
   <% end %>

   <div class="row">
    <div class="small-3 columns">
     <%= qrcode_for @item %>
    </div>
    <div class="small-9 columns">
      <ul>
        <li>TYPE: THING</li>
       <% if signed_in? %>
        <li>USER: <%= link_to @item.user.name, user_path(@item.user) %></li>
        <li>BOX/COLL: <%= link_to @item.parent.name, item_path(@item.parent) %><%=  %></li>
        <li>CREATED:</td><td><%= @item.created_at %></li>
        <li>UPDATE:</td><td><%= @item.updated_at %></li>
      <% end %>
      </ul>
     </div>
   </div>
