<% provide(:title, 'Items Help') %>
<h1>Items Help</h1>
<p><%= link_to "Items", items_path %> are under <%= link_to "root items", roots_path %>, <%= link_to "collection items", coll_path %>, <%= link_to "boxes", boxes_path %>, <%= link_to "things", things_path %> and <%= link_to "components", components_path %>.</p>
