<% provide(:title, 'New Box') %>
<h1>New Box</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item) do |i| %>
    	<%= render 'shared/error_messages', object: i.object %>

      <%= i.label :name %>
      <%= i.text_field :name %>

      <%= i.submit "Create New Box", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>