<% provide(:title, 'New Box') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <%= form_for(@item) do |i| %>
    	<%= render 'shared/error_messages', object: i.object %>

      <%= i.label :name %>
      <%= i.text_field :name %>
      <%= i.hidden_field :is_a_box, :value => true %>

      <%= i.submit "Create New Box", class: "btn btn-large btn-primary" %>
     <% end %>
    </div>
   </div>