<% provide(:title, @item.name) %>

   <div class="row">
    <div class="small-10 large-centered columns">
     <ul class="button-group">
      <li><%= link_to 'Edit', edit_item_path(@item), class: "button tiny" %></li>
      <li><%= link_to 'Add to Coll', item_add_path(@item), class: "button tiny" %></li>
      <li><%= link_to 'Add to Box', item_add_path(@item.id), class: "button tiny" %></li>
      <li><%= link_to 'Throw Away', item_throwaway_path(@item), class: "button tiny" %></li>
     </ul>
    </div>
   </div>

   <div class="row">
    <div class="small-10 large-centered columns">
     <% if @item.root? %>
      <%= render 'items/show_root' %>
     <% else %>
      <% if @item.is_a_box %>
       <%= render 'items/show_box' %>
      <% else %>
       <%= render 'items/show_item' %>
      <% end %>
     <% end %>
   </div>
  </div>
