<% provide(:title, 'Things') %>

<ul class="button-group">
  <li><%= link_to "Add New Item", new_item_path, class: "button" %></li>
  <li><%= link_to "Boxes", boxes_path, class: "button" %></li>
  <li><%= link_to "Collections", coll_path, class: "button" %></li>
  <li><%= link_to "Items Help", help_items_path, class: "button" %></li>
</ul>

<ul class="items">
  <%= render @items %>
</ul>