<% provide(:title, 'Things') %>

<p><%= link_to "Add New Item", new_item_path %> | <%= link_to "Boxes", boxes_path %> | <%= link_to "Collections",
 coll_path %> | <%= link_to "Items Help", help_items_path %></p>

<ul class="items">
  <%= render @items %>
</ul>