 <nav class="top-bar" data-topbar> 
  <ul class="title-area">
   <li class="name"><h1><%= link_to site_title, root_path, id: "logo" %></h1></li>
   <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
   <% if signed_in? %>
    <!-- Right Nav Section -->
    <ul class="right">
     <li class="has-dropdown">
      <a href="#">Settings</a>
      <ul class="dropdown">
       <li><%= link_to "Other Users", users_path %></li>
       <li><%= link_to "My Profile", current_user %></li>
       <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
       <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      </ul>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
     <li><%= link_to "Things", things_path %></li>
    </ul>
   <% else %>
    <!-- Right Nav Section -->
    <ul class="right">
     <li class="active"><%= link_to "Sign in", signin_path %></li>
    </ul>
   <% end %>
  </section>
 </nav>
