<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to site_title, root_path, id: "logo" %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if signed_in? %>
       <li class="divider"></li>
       <li><%= link_to "Things", things_path %></li>
       <li class="divider"></li>
       <li><%= link_to "Users", users_path %></li>
       <li class="divider"></li>
       <li><%= link_to "Profile", current_user %></li>
       <li class="divider"></li>
       <li><%= link_to "Settings", edit_user_path(current_user) %></li>
       <li class="divider"></li>
       <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
       <li class="divider"></li>
       <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </section>
</nav>